* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}

:root {
  --bg-color: #222;
  --text-color: #eee;
  --main-color: #a11eec;
  --text-color-colat: #333;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

.dark-mode {
  --bg-color: #fff;
  --text-color: #222;
  --main-color: #1ed4ec;
  --text-color-colat: #fff;
  --shadow-color: rgba(0, 0, 0, 0.7);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
/* sticky header js*/
.header.sticky {
  background: var(--bg-color);
  box-shadow: 0 0.1rem 1rem var(--shadow-color);
}
/* sticky header js end */

.logo {
  font-size: 2.6rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
  margin-right: auto;
}
.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-right: 3.5rem;
}

/* header sticky js navbar */
.header.sticky .navbar a {
  color: var(--text-color);
}

.header.sticky .navbar a.active {
  color: var(--main-color);
}
/* header sticky js navbar end*/

.navbar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.2rem;
  background: var(--text-color);
}

/* navbar sticky js a::before */
header.sticky .navbar a::before {
  background: var(--main-color);
  opacity: 0.7;
}
/* navbar sticky js a::before end */

/* icon sunMode and sticky js darkMode */
#darkMode-icon {
  font-size: 2.4rem;
  color: var(--text-color);
  cursor: pointer;
}

.header.sticky #darkMode-icon {
  color: var(--text-color);
  opacity: 0.9;
}

/* icon menu  */
#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}


.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--text-color);
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  transition: 0.5s ease;
  border: 0.2rem solid transparent;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}


/* portfolio  */
.experience {
  font-size: 2rem;
  text-align: center;
  margin: 10rem 0% 5rem;
}

.experience .experience-container {
  padding: 4rem 25% 6rem;
}
.experience-container .experience-box {
  position: relative;
  display: flex;
  border-radius: 2rem;
  background: red;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.experience-box img {
  position: relative;
  width: 100%;
  height: 1200 .72px;
}



/* contact section */
.contact h2 {
  margin-bottom: 5rem;
  font-size: 3rem;
  text-align: center;
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border: 0.1rem solid var(--text-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
.contact form .input-box input {
  width: 49%;
}
.contact form textarea {
  resize: none;
}
.contact form .btn {
  cursor: pointer;
  margin-top: 2rem;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
  background: var(--main-color);
}
.social {
  margin-right: 25rem;
}
.social a {
  font-size: 2.4rem;
  padding: 0.8rem;
  color: var(--text-color);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.social a:hover {
  color: var(--bg-color);
}
.footer-text p {
  font-size: 1.6rem;
  color: var(--text-color);
}
.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--bg-color);
  border-radius: 0.8rem;
  border: 0.2rem solid var(--main-color);
  outline: 0.2rem solid transparent;
  transition: 0.5s ease;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.footer-iconTop a:hover {
  outline-color: var(--bg-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--main-color);
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 2rem 7%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
}

@media (max-width: 991px) {
  .navbar a.active::before {
    background: var(--main-color);
    opacity: 0.7;
  }

  .portfolio {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  #darkMode-icon {
    font-size: 2.6rem;
    color: var(--text-color);
    margin-bottom: 0.1rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: none;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
  }
  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }

  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--text-color);
  }

  .navbar a.active {
    color: var(--main-color);
  }
  .navbar a::before {
    display: none;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .social a {
    display: none;
  }
}

@media (max-width: 617px) {
  .portfolio .portfolio-container {
    grid-template-columns: 1fr;
  }

  .experience {
    margin: 2rem 0% 5rem;
  }

  .experience .experience-container {
    padding: 2rem 3% 4rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  #darkMode-icon {
    right: 6rem;
  }

  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .footer .footer-iconTop {
    display: none;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }

}
